@charset "UTF-8";
/* hanbom.com _ IL GROUP _ KIM _ 20230213 */
a,
a:link,
a:visited,
a:active,
a:hover									{text-decoration: none; color: inherit;}
button 									{-webkit-appearance:none; -moz-appearance: none; appearance: none; 
	border: 0 none; font-family: inherit; color: inherit;
	white-space:nowrap; border:0 none; outline: none;
}
button:focus,
a:focus									{outline-color: transparent; outline-style: none;}
.btn									{max-width: 100%; padding:0; font-size: 16px; text-align: center; vertical-align: middle;
	border: 0 none; outline: none; cursor: pointer; background-color: transparent;
	display: -ms-inline-flexbox; display: -webkit-inline-flex; display: inline-flex;
	-webkit-justify-content: center; -ms-flex-pack: center; justify-content: center;
	-webkit-align-items: center; -ms-flex-align: center; align-items: center;
}
a.btn									{text-decoration: none;}
input.btn,
button.btn								{overflow: hidden; margin: 0; background-color: transparent;}
a.btn									{text-decoration: none;}

/* button size */
.btn.small{}
.btn.medium{}
.btn.large								{min-width: 166px; height: 64px; line-height: 62px; }

/* button color */
.btn.normal								{border-radius: 4px; border: solid 1px var(--neutral-n-900); font-weight: bold; color: var(--neutral-n-900);}
.btn.normal:hover,
.btn.black								{background-color: var(--neutral-n-900); color: #fff;}
@media all and (min-width: 961px){
	.btn.normal								{font-size: 18px;}
}
.btn.link								{color: var(--neutral-n-500); border-bottom: 1px solid var(--neutral-n-500);}

/* btn disabled */
.btn[disabled] {}

/* btn etc */
.btn.download	{font-family: 'Pretendard Variable'; font-size: 18px; font-weight: 600; color: var(--neutral-n-900);}
.btn.download .ellipsis	{width: calc(100% - 48px);}
.btn > span + .ico	{margin-left: 14px;}
.btn > .ico + span	{margin-left: 12px;}
.btn > .ico.blank,
.btn.more > .ico 	{margin-left: 8px;}
