@charset "utf-8";
/* hanbom.com _ IL GROUP _ KIM _ 20230213 */
@font-face {
	font-family: 'Pretendard Variable';
	font-weight: 45 920;
	font-style: normal;
	font-display: swap;
	src: local('Pretendard Variable'), url('../fonts/Pretendard-1.3.5/web/variable/woff2/PretendardVariable.woff2') format('woff2-variations');
}

/* 영문 숫자 */

/* @font-face {
	font-family: 'Pretendard Variable';
	font-weight: normal;
	font-weight: normal;
	src: url('../fonts/Nunito/NunitoSans-Regular.woff') format('woff'),
		url('../fonts/Nunito/NunitoSans-Regular.ttf') format("truetype");;
	unicode-range: U+0041-005A, U+0061-007A, U+0030-0039;
}

@font-face {
	font-family: 'Pretendard Variable';
	font-weight: bold;
	font-weight: normal;
	src: url('../fonts/Nunito/NunitoSans-SemiBold.woff') format('woff'),
		url('../fonts/Nunito/NunitoSans-SemiBold.ttf') format("truetype");;
	unicode-range: U+0041-005A, U+0061-007A, U+0030-0039;
} */

@font-face {
	font-family: 'NunitoSans';
	font-weight: normal;
	src: url('../fonts/Nunito/NunitoSans-Regular.woff') format('woff'),
		url('../fonts/Nunito/NunitoSans-Regular.ttf') format("truetype");;
	unicode-range: U+0041-005A, U+0061-007A, U+0030-0039;
}

@font-face {
	font-family: 'NunitoSans';
	font-weight: 600;
	src: url('../fonts/Nunito/NunitoSans-SemiBold.woff') format('woff'),
		url('../fonts/Nunito/NunitoSans-SemiBold.ttf') format("truetype");;
	unicode-range: U+0041-005A, U+0061-007A, U+0030-0039;
}
@font-face {
	font-family: 'NunitoSans';
	font-weight: bold;
	src: url('../fonts/Nunito/NunitoSans-Bold.woff') format('woff'),
		url('../fonts/Nunito/NunitoSans-Bold.ttf') format("truetype");;
	unicode-range: U+0041-005A, U+0061-007A, U+0030-0039;
}
