@charset "utf-8";
/* hanbom.com _ IL GROUP _ KIM _ 20230213 */

label,
input,
select,
textarea,
fieldset,
.checkbox:before,
.checkbox:after,
.label				{
	box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
input,
select,
textarea,
input::-webkit-search-cancel-button,
input::-webkit-calendar-picker-indicator	{
	appearance:none;
	-webkit-appearance:none;
}
input,
select,
textarea									{font-family: inherit; font-size: 18px; line-height: 1.5; color:#000; background:  #fff;
	outline: none;
	border:0;
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
}
@media all and (max-width: 960px){
	input,
	select,
	textarea					{font-size: 16px;}
}
select::-ms-expand 				{display: none;}
input,
textarea						{caret-color: black;}
::placeholder,
.file-input > .placeholder		{color: var(--neutral-n-500);}
@media all and (min-width: 961px){
	.file-input > .placeholder		{font-size: 18px;}
}
input:focus,
select:focus,
textarea:focus					{outline-color: transparent; outline-style: none;}
input,
select,
textarea,
.label-box,
.checkbox:before,
.upload-wrap .upload-file.img {
}
fieldset								{}

/* form common */
.select,
.input-text								{padding: 0;}
.checkbox								{position: relative !important; overflow: hidden; margin:0; width: 24px; height: 24px;}

.checkbox:before,
.checkbox:after							{content: ''; display: block; width: 100%; height: 100%;}

.checkbox,
.checkbox:before						{
	-webkit-border-radius: 4px; border-radius: 4px;
}
.checkbox:before						{border: 1px solid var(--neutral-n-300);}
.checkbox:after							{position: absolute; top: 0; left: 0; opacity: 0;
	background: transparent url('../images/@uio/check.svg') no-repeat 50% 50%;
	background-size: cover;
	-webkit-transition: 0.3s ease; -o-transition: 0.3s ease; transition: 0.3s ease;
}
.checkbox:not(:checked):after			{opacity: 0;}
.checkbox:checked:after					{opacity: 1;}
.checkbox:disabled						{background-image: url('../images/@uio/minus.svg');}
.check-wrap						{
	display: -ms-inline-flexbox; display: -webkit-inline-flex; display: inline-flex;
	-webkit-align-items: center; -ms-flex-align: center; align-items: center;
}
.check-wrap .checkbox + span			{margin-left: 12px; font-weight: 600; color: var(--neutral-n-900);}
.check-wrap + .btn.link 				{margin-left: 16px;}
.check-wrap .checkbox:disabled + span	{color: var(--neutral-n-500);}

/* size */
.select:not(.large),
.input-text:not(.large)					{height: 27px;}
.select.large,
.input-text.large						{height: 65px;}
@media all and (max-width: 960px){
	.select.large,
	.input-text.large						{height: 56px;}
}

/* select */
.select									{position: relative; min-width: 120px; background: #fff url("../images/@uio/btn_select.svg") no-repeat 100% 50%; background-size: 24px 24px; vertical-align: middle;}
.select.is-empty						{color: var(--neutral-n-500);}
.select:not(.is-empty)					{color: var(--neutral-n-900);}
.select.large							{padding-right: 48px; background-image: url("../images/@uio/caret.svg");}
.select:disabled						{}
.select:readonly						{}
.select:focus							{}

/* input-text */
.input-text								{}
.input-text:disabled					{}
.input-text:readonly					{}
.input-text:focus						{}
.input-text[type="search"]::-webkit-search-cancel-button,
.input-text[type="date"]::-webkit-clear-button {position: relative; right: .25rem; width: 1.5rem; height: 1.5rem;
	-webkit-appearance: none; -moz-appearance: none; appearance: none;
	background: url('../images/@uio/btn_delete.svg') no-repeat 0 0;
}
.input-text[class*="ico-"]				{background-position: 100% 50%; padding-right: 32px; background-repeat: no-repeat; background-size: 24px auto;}
.input-text.ico-calender				{
	background-image: url('../images/icon/calendar.svg');
}
@media all and (max-width: 960px){
	.input-text.small						{height: 24px; }
}

/* textarea */
.textarea								{display: block;}
.textarea:focus							{}
.textarea[disabled]						{}

/* file-input*/
.file-add								{position: relative;}
.file-input,
.file-list 								{
	display: -ms-flexbox; display: -webkit-flex; display: flex;
	-webkit-align-items: center; -ms-flex-align: center; align-items: center;
}
.file-input								{position: relative; width: 100%; height: 60px;}
.file-input > [type='file']
,.file-add .file-list					{position: absolute; top: 0; left: 0; height: 100%;}
.file-input > [type='file']				{width: 100%; opacity: 0; z-index: 10; cursor: pointer;}
.file-input > .placeholder				{overflow: hidden; display: block; width: calc(100% - 24px - 20px); height: inherit; line-height: 65px; white-space: nowrap; text-align: left;}
.file-input > .-chosen + .placeholder	{opacity: 0; z-index: -1}
.file-input svg							{width: 24px; height: 24px;}
.file-input svg path 					{fill: none; stroke: var(--neutral-n-500); stroke-width: 2px; stroke-linecap: round; stroke-linejoin:round;}
.file-input.-chosen > .placeholder		{opacity: 1; color: var(--neutral-n-900);}
.file-add .file-list					{width: max-content; z-index: 12;}
.file-list .upload-file + .upload-file	{margin-left: 12px;}


/* .field */
.required								{color: var(--red-r-400);}

/* datepicker */
.ui-corner-all {
	border-radius: 0; -moz-border-radius: 0; -webkit-border-radius: 0;
}
.ui-widget								{font: inherit; color: inherit;}
.ui-datepicker							{padding: 12px 16px 8px;}
.ui-datepicker table  					{font-size: 14px; margin: 0;}
.ui-datepicker .ui-datepicker-header	{position: static; height: 56px; padding: 0;
	display: -ms-flexbox; display: -webkit-flex; display: flex;
	-webkit-justify-content: space-between; -ms-flex-pack: justify; justify-content: space-between;
	-webkit-align-items: center; -ms-flex-align: center; align-items: center;
}
.ui-datepicker-next 					{
	-webkit-order: 2; -ms-flex-order: 2; order: 2;
}
.ui-widget-header 						{background: inherit; border: 0 none;}
.ui-datepicker .ui-datepicker-title 	{margin: 0 24px;}
.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next 		{position: relative; width: 24px; height: 24px;}
.ui-helper-clearfix:before,
.ui-helper-clearfix:after 				{display: none}
.ui-state-default,
.ui-widget-content .ui-state-default	{border: 0 none; background: transparent; color: inherit;}
.ui-state-active,
.ui-widget-content .ui-state-active		{background: var(--neutral-n-900);; color: #fff;}
.ui-datepicker-today .ui-state-highlight				{position: relative; color:var(--neutral-n-900); font-weight: bold;}
.ui-datepicker th 						{padding: 0 0 11px;}
.ui-datepicker td						{padding: 2px}
.ui-datepicker td.ui-datepicker-other-month	{opacity: 1;}
.ui-datepicker td.ui-datepicker-other-month	.ui-state-default{text-align: center;}
.ui-datepicker td a						{margin: 0 auto; width: 32px; height: 32px; padding: 0; line-height: 32px; text-align: center;
	border-radius: 20px; -moz-border-radius: 20px; -webkit-border-radius: 20px;
}
.ui-widget-header .ui-icon 				{background-image: url('../images/icon/chevron-left.svg'); background-position: center}
.ui-priority-secondary,
.ui-widget-content .ui-priority-secondary	{opacity: 1; color: pink;}

.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next ,
.ui-datepicker .ui-datepicker-prev span,
.ui-datepicker .ui-datepicker-next span		{position: static;}
.ui-datepicker .ui-datepicker-prev {
	-moz-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-ms-transform: scaleX(-1);
	transform: scaleX(-1);
}
.ui-datepicker .ui-datepicker-prev span,
.ui-datepicker .ui-datepicker-next span		{margin: 0}
.ui-datepicker .ui-datepicker-prev span.ui-icon,
.ui-datepicker .ui-datepicker-next span.ui-icon	{width: 20px; height: 20px;}
.ui-datepicker .ui-datepicker-prev-hover,
.ui-datepicker .ui-datepicker-next-hover	{top:  0}
.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover		{border: 0 none;}
.ui-datepicker-header .ui-state-hover	{background: transparent;}

/* search-box */
.search-box,
.search-box > .field					{
	display: -ms-flexbox; display: -webkit-flex; display: flex;
	-webkit-align-items: center; -ms-flex-align: center; align-items: center;
	-webkit-justify-content: space-between; -ms-flex-pack: justify; justify-content: space-between;
}
.search-box .field + .field				{margin-left: 32px;}
.search-box ::placeholder,
.search-box .tilde,
.search-box .select						{font-weight: bold; color: var(--neutral-n-900); }
.search-box .input-text.ico-calender	{width: 126px;}
.search-box .field.word .input-text		{min-width: 145px }
.search-box .tilde						{margin: 0 16px; font-size: 18px;}
.search-box .btn.search					{width: 24px; height: 24px; padding: 0; background: #fff;}
.search-box .select						{width: 100%;}
@media all and (max-width: 960px){
	.search-form							{width: 100%; margin-top: 40px;}
}
@media all and (min-width: 415px) and (max-width: 960px){
	.search-box:not(.base-1240) .field		{
		-webkit-flex: 1 1 auto; -ms-flex: 1 1 auto; flex: 1 1 auto;
	}
	.search-box:not(.base-1240) .input-text.ico-calender	{width: 100%;}
}
@media all and (max-width: 414px){
	.search-form:not(.base-1240) .search-box{
		-webkit-flex-direction: column; -ms-flex-direction: column; flex-direction: column;
	}
	.search-form:not(.base-1240) .search-box > .field{width: 100%;}
	.search-form:not(.base-1240) .search-box .field + .field	{margin-left: 0; margin-top: 16px;}
}
/* select + word */
@media all and (max-width: 1080px){
	.search-form.base-1080					{margin-top: 60px;}
}
/* date + word */
@media all and (max-width: 1240px){
	.search-form.base-1240					{margin-top: 60px;}
}
@media all and (min-width: 961px) and (max-width: 1240px){
	.search-form.base-1240					{width: calc(100% - 560px)}
}
@media all and (min-width: 961px) and (max-width: 1200px){
	.search-form.base-1240 .search-box		{
		-webkit-flex-direction: column; -ms-flex-direction: column; flex-direction: column;
	}
	.search-form.base-1240 .search-box > .field	{width: 100%;}
	.search-form.base-1240 .search-box > .field + .field{margin-left: 0; margin-top: 16px;}
}
@media all and (min-width: 581px) and (max-width: 960px){
	.search-box.base-1240 .field			{
		-webkit-flex: 1 1 auto; -ms-flex: 1 1 auto; flex: 1 1 auto;
	}
	.search-box.base-1240 .input-text.ico-calender	{width: 100%;}
}
@media all and (max-width: 580px){
	.search-form.base-1240 .search-box		{
		-webkit-flex-direction: column; -ms-flex-direction: column; flex-direction: column;
	}
	.search-form.base-1240 .search-box > .field	{width: 100%;}
	.search-form.base-1240 .search-box .field + .field	{margin-left: 0; margin-top: 16px;}
}

/* write-form */
.write-form fieldset,
.write-form .field		{
	display: -ms-flexbox; display: -webkit-flex; display: flex;
	-webkit-align-items: center; -ms-flex-align: center; align-items: center;
}
.write-form fieldset,
.write-form .field:not(.mo-wrap){
	-webkit-justify-content: space-between; -ms-flex-pack: justify; justify-content: space-between;
}
.write-form fieldset			{
	-webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap;
}
.write-form .full,
.write-form .button-area,
.write-form .select,
.write-form .input-text,
.write-form .textarea			{width: 100%;}
.write-form .input-text			{padding-right: 20px;}
.write-form .select				{background-position: calc(100% - 20px) 50%;}
.write-form fieldset > .bdr		{overflow: hidden; margin-bottom: 40px; border: solid 1px var(--neutral-n-300);
	-webkit-border-radius: 4px; border-radius: 4px;
}
.write-form fieldset > .bdr.textarea	{overflow-y: auto;}
.write-form .field .label		{display: block; width: 120px; padding-left: 20px;}
.write-form .field .insert	{width: calc(100% - 120px);}
.write-form .field .label		{font-weight: 600; color: var(--neutral-n-900);}
.write-form .file-input svg		{margin-right: 20px;}
.write-form .textarea			{height: 240px; padding: 20px; border-top: solid 1px var(--neutral-n-300);}
.write-form .button-area 		{margin-top: 80px;}
@media all and (min-width: 961px){
	.write-form .bdr:not(.full)		{width: calc((100% - 40px)/2);}
	.write-form .field .label		{font-size: 18px;}
}
@media all and (max-width: 960px){
	.write-form .bdr:not(.full)		{width: 100%;}
	.write-form fieldset > .bdr		{margin-bottom: 24px;}
	.write-form .button-area 		{margin-top: 40px;}
}
@media all and (max-width: 414px){
	.write-form .field.bdr,
	.write-form .full.bdr .field	{padding-top: 20px;
		-webkit-flex-direction: column; -ms-flex-direction: column; flex-direction: column;
	}
	.write-form .field .label,
	.write-form .field .insert	{width: 100%;}
	.write-form .field .input-text,
	.write-form .field .select,
	.write-form .field .file-add .placeholder	{padding-left: 20px;}
	.write-form .field.mo-wrap		{
		-webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap;
	}
	.write-form .field.mo-wrap .check-wrap + .btn	{margin-left: 36px; margin-top: 12px;}
}
