@charset "UTF-8";
/* hanbom.com _ IL GROUP _ KIM _ 20230213 */

/* reset */
@import url(lib/reset.css);
@import url(_font.css);
/*
@import url(lib/normalize.css);
*/
/* library */
@import url(lib/aos.css);
@import url(lib/swiper.min.css);
@import url(lib/jquery-ui.css);
/* common css */
@import url(_colors.css);
@import url(_vars.css);
@import url(_button.css);
@import url(_form.css);
@import url(_layout.css);
@import url(_global.css);

/* ab01 */
#content.ab01 > .inner-wrap			{}
#content.ab01 .bg01						{background-image: url('../images/ab/ab01_001.png');}
#content.ab01 .message				{position: relative; /*padding-bottom: 307px;*/}
#content.ab01 .message .text-wrap	{height: var(--vh100); text-align: center;
	display: -ms-flexbox; display: -webkit-flex; display: flex;
	-webkit-flex-direction: column; -ms-flex-direction: column; flex-direction: column;
	-webkit-justify-content: center; -ms-flex-pack: center; justify-content: center;
	-webkit-align-items: center; -ms-flex-align: center; align-items: center;
}
#content.ab01 .message .bg		{position: absolute; z-index: -1;}
#content.ab01 .message .bg.mv01	{/* top: 827px; */ left: 0; width: 720px; height: 480px; background-image: url('../images/ab/ab01_mv_01.jpg');}
#content.ab01 .message .bg.mv02	{/* top: 80px; */ right:0; width: 500px; height: 320px; background-image: url('../images/ab/ab01_mv_02.jpg');}
#content.ab01 .message .bg.mv03	{/* top: 664px; */ right:184px; width: 440px; height: 300px; background-image: url('../images/ab/ab01_mv_03.jpg');}
@media all and (max-width: 960px){
	#content.ab01 .message				{/*padding-bottom: 217px;*/}
	#content.ab01 .message .bg.mv01	{/* top: 646px; */ width: 69.333vw; height: 46.133vw; background-image: url('../images/ab/ab01_mv_01.jpg');}
	#content.ab01 .message .bg.mv02	{/* top: 40px; */ width: 53.333vw; height: 34.133vw;}
	#content.ab01 .message .bg.mv03	{/* top: 520px; */ right: 44px; width: 42.667vw; height: 26.667vw;}
	#content.ab01 .message .text-wrap p		{font-size: 14px;}
}
#content.ab01 .groups	{width: calc(100% + (40px * 2)); margin-left: -40px; padding-left: 40px; padding-right: 40px;}
#content.ab01 .h-scroll {height: calc(var(--vh100)); padding-top: calc(var(--header));}
#content.ab01 .groups .group {width: 63.9%; max-width: 1200px; height: 800px;}
#content.ab01 .groups .group + .group {margin-left: 40px;}
#content.ab01 .group		{overflow: hidden; position: relative; background-color: var(--bg-g-98);}
#content.ab01 .group .section-title,
#content.ab01 .group .bg					{position: absolute;}
#content.ab01 .group .section-title			{top: 80px; left: 80px; z-index: 3;}
#content.ab01 .group .bg					{top: 0; left: 0; width: 100%; height: 100%;}
#content.ab01 .group .section-title,
#content.ab01 .group .bg					{
	-webkit-transition: all 0.55s;
	transition: all 0.55s;
}
#content.ab01 .group a.item.normal			{height: inherit; padding: 218px 80px 80px;}
#content.ab01 a.item.normal[target="_blank"]:after		{right: 80px; bottom: 120px;}
@media screen and (hover: hover) {
	#content.ab01 .group:not(:hover) .section-title		{color: #fff;}
	#content.ab01 .group:not(:hover) .section-title		{
		-webkit-transition-delay: 0.05s;
		transition-delay: 0.05s;
	}
	#content.ab01 .group:hover .bg						{opacity: 0;
		-webkit-transform: translate3d(0,100%,0);
		transform: translate3d(0,100%,0);
	}
	#content.ab01 .group .btn.focus-out 				{display: none;}
}
@media screen and (hover: none) {
	#content.ab01 .group:not(.active) .section-title		{color: #fff;}
	#content.ab01 .group:not(.active) .section-title		{
		-webkit-transition-delay: 0.05s;
		transition-delay: 0.05s;
	}
	#content.ab01 .group.active .bg							{opacity: 0;
		-webkit-transform: translate3d(0,100%,0);
		transform: translate3d(0,100%,0);
	}
	#content.ab01 .group .btn.focus-out 				{position: absolute; top:32px; left: 32px; display: block; width: 24px; height:24px;}
	#content.ab01 .group .btn.focus-out .ico.back 		{
		-webkit-filter: brightness(0); filter: brightness(0);
	}
}
@media all and (max-width: 960px){
	#content.ab01 .groups	{width: calc(100% + (16px * 2)); margin-left: -16px; padding-left: 16px; padding-right: 16px;}
	#content.ab01 .groups .group {width: calc(100% - 16px); height: calc(var(--vh100) - var(--header) - 16px);}
	#content.ab01 .groups .group + .group {margin-left: 16px;}
	#content.ab01 .group .section-title			{top: 96px; left: 32px;}
	#content.ab01 .group a.item.normal			{padding: 168px 32px 56px;}
	a.item.normal[target="_blank"]:after		{right: 32px; bottom: 32px;}

}
#content.ab01 .group .bg.group01			{background-image: url('../images/ab/ab01_il_science.jpg');}
#content.ab01 .group .bg.group02			{background-image: url('../images/ab/ab01_itrnics.jpg');}
#content.ab01 .group .bg.group03			{background-image: url('../images/ab/ab01_il_lighting.jpg');}
#content.ab01 .group .bg.group04			{background-image: url('../images/ab/ab01_il_conus.jpg');}
#content.ab01 .group .bg.group05			{background-image: url('../images/ab/ab01_aheads.jpg');}

@media screen and (orientation: portrait){
	#content.ab01 .group .bg.group01			{background-image: url('../images/ab/ab01_il_science_mo.jpg');}
	#content.ab01 .group .bg.group02			{background-image: url('../images/ab/ab01_itrnics_mo.jpg');}
	#content.ab01 .group .bg.group03			{background-image: url('../images/ab/ab01_il_lighting_mo.jpg');}
	#content.ab01 .group .bg.group04			{background-image: url('../images/ab/ab01_il_conus_mo.jpg');}
	#content.ab01 .group .bg.group05			{background-image: url('../images/ab/ab01_aheads_mo.jpg');}
}

#content.ab01 .talent ul .text-wrap			{padding: 56px 0 40px;}
@media all and (min-width: 961px){
	#content.ab01 .talent						{padding-right: 0;
		display: -ms-flexbox; display: -webkit-flex; display: flex;
		-webkit-justify-content: space-between; -ms-flex-pack: justify; justify-content: space-between;
	}
	#content.ab01 .talent ul					{max-width: 1200px;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-column-gap: 40px;
	}
	#content.ab01 .talent ul li					{width: calc(100%);}
	#content.ab01 .talent ul li:not(:last-child){padding-bottom: 160px;}
	#content.ab01 .talent ul li:nth-child(2) .card	{margin-top: 400px;}
	#content.ab01 .talent ul li:nth-child(3) .card	{margin-top: -380px;}
}
@media all and (max-width: 960px){
	#content.ab01 .talent ul .text-wrap	{padding: 28px 0 40px;}
	#content.ab01 .talent .section-sub-title .en	{margin-top: 2px;}
}

/* ab02 */
#content.ab02 > .inner-wrap			{}
#content.ab02 .sticky-bg			{overflow: hidden;}
#content.ab02 .sticky-bg > .bg	{width: 100%; height: inherit; background-repeat: no-repeat; background-position: 50% 50%; background-size: cover;
	-webkit-transition: all 150ms linear;
	-moz-transition: all 150ms linear;
	-ms-transition: all 150ms linear;
	-o-transition: all 150ms linear;
	transition: all 150ms linear;
}
#content.ab02 .sticky-bg > .bg:not(.active)	{opacity: 0; height: 0;}
#content.ab02 .sticky-bg .bg:nth-child(1)	{background-image: url('../images/ab/2008.png');}
#content.ab02 .sticky-bg .bg:nth-child(2)	{background-image: url('../images/ab/2012.png');}
#content.ab02 .sticky-bg .bg:nth-child(3)	{background-image: url('../images/ab/2016.png');}
#content.ab02 .sticky-bg .bg:nth-child(4)	{background-image: url('../images/ab/2020.png');}
@media all and (min-width: 961px){
	#content.ab02 .sticky-wrap			{padding: 80px;}
	#content.ab02 .sticky-area			{width: 44.76%; max-width: calc(337px + 767px);}

	#content.ab02 .sticky-bg			{height: calc(var(--vh100) - var(--header) - 40px);}
	#content.ab02 .sticky-wrap			{margin-top: calc((var(--vh100) - var(--header) - 40px)*-1);}
	#content.ab02 .sticky-area			{top: calc(var(--header) + 80px); height: calc(var(--vh100) - var(--header) - 80px - 80px - 40px);
	}
}
@media all and (max-width: 960px){
	#content.ab02 .sticky-bg			{height: inherit;}
	#content.ab02 .sticky-wrap	{overflow: hidden; height: inherit; padding: 40px 24px 24px;
		-moz-transform: translateY(-100%);
		-webkit-transform: translateY(-100%);
		-o-transform: translateY(-100%);
		-ms-transform: translateY(-100%);
		transform: translateY(-100%);
	}
	#content.ab02 .sticky-area			{width: 100%; height: 158px;}
}
#content.ab02 .sticky-area > h2,
#content.ab02 .sticky-area > div		{width: 100%;}
#content.ab02 .page-title,
#yearSwiper								{color: #fff;}
#yearSwiper								{font-size: 20px; font-weight: bold;}
#yearSwiper .swiper-slide > a			{display: block;}
@media all and (min-width: 961px){
	#yearSwiper								{min-height: 323px; text-align: right;}
	#yearSwiper .swiper-slide				{height: auto;
		-webkit-transition: font-size 300ms ease-in-out;
		-moz-transition: font-size 300ms ease-in-out;
		-ms-transition: font-size 300ms ease-in-out;
		-o-transition: font-size 300ms ease-in-out;
		transition: font-size 300ms ease-in-out;
	}
	#yearSwiper .swiper-slide.swiper-slide-active	{font-size: 72px; line-height: 1.2;}
	#yearSwiper .swiper-slide + .swiper-slide	{margin-top: 40px;}
}
@media all and (max-width: 960px){
	#yearSwiper								{margin-top: 48px;}
	#yearSwiper .swiper-slide				{width: auto; height: 27px; padding-right: 24px;}
	#yearSwiper .swiper-slide:not(.swiper-slide-thumb-active)	{opacity: .5}
}
#historySwiper .swiper-slide			{padding: 80px; background: #fff;}
#historySwiper .swiper-slide .year + .year	{margin-top: 40px;}
#historySwiper .swiper-slide .year h3	{margin-bottom: 8px; font-size: 24px; font-weight: bold; color: var(--neutral-n-900);}

@media all and (min-width: 961px){
	#historySwiper							{overflow: visible; width: 45.65%; max-width: 767px;}
	#historySwiper .swiper-wrapper			{height: auto !important;
		-webkit-flex-direction: column; -ms-flex-direction: column; flex-direction: column;
	}
	#historySwiper .swiper-slide + .swiper-slide	{margin-top: 40px;}
}
@media all  and (min-width: 961px) and (max-width: 1280px){
	#content.ab02 .sticky-wrap,
	#historySwiper .swiper-slide		{padding: 4.167vw;}
}
@media all and (max-width: 960px){
	#historySwiper							{width: calc(100vw - 80px); height: calc(100% - 158px);}
	#historySwiper .swiper-slide			{overflow-y: auto; width: 100%; padding: 40px 32px 24px;}
}

/* fo02 */
#content.location .inner-wrap				{padding-bottom: 40px}
#content.location .data-list,
#content.location .item.normal .tel			{
	display: -ms-flexbox; display: -webkit-flex; display: flex;
}
#content.location .data-list li				{width: calc((100% - 40px)/3);}
#content.location .item.normal				{height: 624px; padding: 80px 40px;
	display: -ms-flexbox; display: -webkit-flex; display: flex;
	-webkit-flex-direction: column; -ms-flex-direction: column; flex-direction: column;
	-webkit-justify-content: space-between; -ms-flex-pack: justify; justify-content: space-between;
}
#content.location .item.normal .title		{font-size: 32px; background: transparent url('../images/icon/arrow-right.svg') no-repeat 100% 50%; background-size: 24px 24px;}
#content.location .item.normal .label		{display: block; margin-bottom: 8px; font-size: 20px;}
#content.location .item.normal .tel			{margin-top: 8px;}
#content.location .item.normal .tel p + p	{margin-left: 40px;}
@media all and (min-width: 961px){
	#content.location .data-list li + li		{margin-top: 0; margin-left: 20px;}
	#content.location .item.normal .title		{font-size: 24px;}
}
@media all and (max-width: 960px){
	#content.location .section-title + .data-list,
	#content.location .data-list li + li		{margin-top: 24px;}
	#content.location .data-list				{
		-webkit-flex-direction: column; -ms-flex-direction: column; flex-direction: column;
	}
	#content.location .data-list li				{width: 100%;}
	#content.location .data-list .item.normal	{height: 320px; padding: 40px 24px;}
}
#content.location .map-area					{overflow: hidden; margin-top: 40px; height: 680px;}
@media all and (max-width: 960px){
	#content.location .map-area					{margin-top: 24px; height: 340px}
}

/* sc03 */
#content.sc03 .bg01						{background-image: url('../images/sc/sc03_bg01.jpg');}
#content.sc03 .bg02						{background-image: url('../images/sc/sc03_bg02.jpg');}
@media screen and (orientation: portrait){
	#content.sc03 .bg01						{background-image: url('../images/sc/sc03_bg01_mo.jpg');}
	#content.sc03 .bg02						{background-image: url('../images/sc/sc03_bg02_mo.jpg');}
}
#content.sc03 .ethics						{margin-top: 40px;}
#content.sc03 .ethics ul li + li			{margin-top: 78px;}
#content.sc03 .ethics .section-title,
#content.sc03 .ethics						{color: #fff;}
@media all and (min-width: 961px) {
	.section-box.necessity .text-wrap		{margin-left: 45.23%;}
	#content.sc03 .ethics .sticky-area		{width: 46.5%;}
	#content.sc03 .ethics .sticky-scroll	{width: 53.5%;}
	#content.sc03 .ethics .sticky-scroll	{font-size: 24px; line-height: 1.33;}
	#content.sc03 .ethics .sticky-scroll .section-title	{margin-bottom: 40px;}
	#content.sc03 .section-box.ethics h4.section-title	{height: 140px;}
	#content.sc03 .section-box.ethics .sticky-scroll	{padding-top: 140px;}
	#content.sc03 .sticky-box 				{top: calc(var(--header) + 80px);}
	#content.sc03 .sticky-wrap			{padding: 120px; background: transparent;}
	#content.sc03 .sticky-bg			{height: height: calc(var(--vh100) - var(--header));}
	#content.sc03 .sticky-area			{top: calc(var(--header) + 80px); height: calc(var(--vh100) - var(--header) - 120px - 120px - 40px);}
}
@media all and (max-width: 960px){
	#content.sc03 .bg01						{margin-top: 24px;}
	#content.sc03 .ethics .sticky-scroll	{font-size: 20px; position: relative;}
	#content.sc03 .ethics .sticky-scroll .section-title	{margin-bottom: 24px;}
	#content.sc03 .ethics ul li + li		{margin-top: 64px;}
}

/* popTipOff */
#popTipOff 										{overflow: hidden auto;
	-webkit-align-items: flex-start; -ms-flex-align: start; align-items: flex-start;
}
#popTipOff .popup								{height: auto}
#popTipOff .popup-body							{overflow-y: hidden;}
#popTipOff .write-form 							{margin-top: 80px}
#popTipOff .section-title + p,
#popTipOff .write-form fieldset 				{margin-top: 20px;}
#popTipOff .write-form legend					{width: 100%;
	display: -ms-flexbox; display: -webkit-flex; display: flex;
	-webkit-justify-content: space-between; -ms-flex-pack: justify; justify-content: space-between;
	-webkit-align-items: flex-end; -ms-flex-align: end; align-items: flex-end;
	-webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap;
}
#popTipOff .write-form legend strong			{font-size: 24px; font-weight: bold; line-height: 1.33; color: var(--neutral-n-900);}
#popTipOff .write-form legend,
#popTipOff .write-form fieldset > .bdr,
#popTipOff .write-form .check-group				{margin-bottom: 20px;}
#popTipOff .write-form .guide					{font-size: 18px;}
#popTipOff .write-form .textarea.bdr			{height: max-content; max-height: 202px;}
#popTipOff .write-form .field .label			{width: 200px;}
#popTipOff .write-form .check-wrap + .check-wrap{margin-left: 20px;}
#popTipOff .write-form .textarea p + p			{margin-top: 27px;}
@media all and (min-width: 1040px){
	#popTipOff .popup								{min-width: 1012px;}
}
@media all and (min-width: 961px) and (max-width: 1039px){
	#popTipOff .popup								{min-width: 890px;}
}
@media all and (max-width: 960px){
	#popTipOff.overlay								{padding: 184px 16px;}
	#popTipOff .popup								{min-width: calc(100vw - 52px);}
	#popTipOff .popup-body							{padding-bottom: 40px;}
	#popTipOff .write-form 							{margin-top: 64px;}
	#popTipOff .section-title + p,
	#popTipOff .write-form fieldset 				{margin-top: 12px;}
	#popTipOff .write-form legend strong			{font-size: 20px; line-height: 1.5}
	#popTipOff .write-form legend,
	#popTipOff .write-form fieldset > .bdr,
	#popTipOff .write-form .check-group				{margin-bottom: 16px;}
	#popTipOff .write-form .field:not(.check-group)	{
		-webkit-flex-direction: column; -ms-flex-direction: column; flex-direction: column;
		-webkit-align-items: flex-start; -ms-flex-align: start; align-items: flex-start;
	}
	#popTipOff .write-form .field.bdr				{padding-top: 18px;}
	#popTipOff .write-form .field .insert			{width: 100%;}
	#popTipOff .write-form .guide					{font-size: 14px;}
	#popTipOff .write-form .field .insert .select,
	#popTipOff .write-form .field .insert .input-text,
	#popTipOff .write-form .file-input > .placeholder,
	#popTipOff .write-form .file-list				{padding-left: 20px;}
	#popTipOff .write-form .textarea:not(.bdr)		{height: 268px;}
	#popTipOff .write-form .textarea.bdr			{max-height: 376px;}
}

/* sc02 */
#content.sc02 .bg01						{background-image: url('../images/sc/sc02_001.jpg');}
@media screen and (orientation: portrait){
	#content.sc02 .bg01						{background-image: url('../images/sc/sc02_001_mo.jpg');}
}
@media all and (min-width: 961px){
	#content.sc02 .section-box.out-content.work-out	{width: calc(100% + (40px * 2)); padding-left: 0; padding-right: 0; padding-bottom: 0;}
	#content.sc02 .section-box.out-content.work-out .section-title		{margin-bottom: 0;}
	#content.sc02 .section-box.out-content.work-out .out-content {display: -ms-flexbox; display: -webkit-flex; display: flex; 
		-webkit-align-items: center; -ms-flex-align: center; align-items: center;
	}
	#content.sc02 .section-box.out-content.work-out .section-title {padding-left: 120px; padding-right: 120px;}
	#content.sc02 .section-box.out-content.work-out > .out-content {width: calc(100% + (160px * 2)); padding-left: 0; padding-right: 0; margin: 0;}
	#content.sc02 .work-out .h-scroll {padding: 80px 160px;}
}
@media all and (min-width: 961px) and (max-width: 1919px){
	#content.sc02 .section-box.out-content.work-out .out-content {height: 48.229vw;}
}
#workOut								{position: relative; overflow: visible;}
#workOut .swiper-slide					{text-align: center;}
#workOut .swiper-slide .img-wrap		{width: 580px; height: 644px; margin: 0 auto;}
#workOut .swiper-slide .text			{margin-top: 40px; font-weight: bold; color: var(--neutral-n-900);}
@media all and (min-width: 961px){
	#workOut								{display: block;}
	#workOut .swiper-slide .text			{font-size: 28px;}
	#workOut .swiper-button-next,
	#workOut .swiper-button-prev			{display: none}
}
@media all and (min-width: 1920px){
	#workOut .swiper-slide					{width: 1098px;}
}
@media all and (min-width: 961px) and (max-width: 1919px){
	#workOut .swiper-slide					{width: 57.188vw;}
	#workOut .swiper-slide .img-wrap		{width: 30.208vw; height: 33.542vw;}
}
@media all and (max-width: 960px){
	#workOut .swiper-slide					{margin-bottom: 56px;}
	#workOut .swiper-slide .text			{bottom: -56px; font-size: 24px; line-height: 1.33;}
	#workOut .swiper-slide .img-wrap		{width: 58.667vw; height: 65.067vw;}
	#workOut .swiper-button-next,
	#workOut .swiper-button-prev			{top: calc(50% - 42px);}
	#workOut .swiper-button-next 			{right: 0;}
	#workOut .swiper-button-prev			{left: 0;}
}
#content.sc02 .flower.bg02				{position: relative; background-image: url('../images/sc/sc02_002.jpg');}
#content.sc02 .flower.bg02 .text-wrap	{position: absolute; top: 28%; left: 57.82%; padding-right: 10%; }
#content.sc02 .flower.bg02 .page-title + p	{margin-top: 40px; font-size: 28px; color: var(--neutral-n-900);}
@media screen and (orientation: portrait){
	#content.sc02 .flower.bg02					{background-image: url('../images/sc/sc02_002_mo.jpg');}
	#content.sc02 .flower.bg02 .text-wrap	{top: 11%;}
}

@media all and (min-width: 1261px) and (max-width: 1840px){
	#content.sc02 .flower.bg02 .text-wrap	{left: 50%;}
}
@media all and (min-width: 961px) and (max-width: 1260px){
	#content.sc02 .flower.bg02 .text-wrap	{left: 10%;}
}
@media all and (min-width: 961px) and (max-width: 1840px){
	#content.sc02 .flower.bg02 .page-title			{font-size: 4.167vw;}
	#content.sc02 .flower.bg02 .page-title + p		{font-size: 24px;}
}
@media all and (max-width: 960px){
	#content.sc02 .flower.bg02 .text-wrap	{top: 80px; left: 32px;}
	#content.sc02 .flower.bg02 .page-title + p	{margin-top: 24px; font-size: 24px;}
}
#content.sc02 .box-list	li:nth-child(even) .big-box	.text-wrap{
	-webkit-order: -1; -ms-flex-order: -1; order: -1;
}
@media all and (min-width: 961px){
	#content.sc02 .big-box					{
		-webkit-align-items: center; -ms-flex-align: center; align-items: center;
	}
}
@media all and (max-width: 960px){
	#content.sc02 .box-list .img-wrap.centered	{padding-top: 111%;}
	#content.sc02 .box-list .img-wrap.centered img	{width: 100%;}
}
#content.sc02 .volunteer				{padding-top: 0;}
@media all and (min-width: 961px){
	#content.sc02 .section-box.volunteer > .out-content	{padding-right: 80px;}
}
@media all and (max-width: 960px){
	#content.sc02 .volunteer .section-title		{margin-bottom: 0}
}

#photoGallery							{position: relative; overflow: visible;}
#photoGallery .swiper-slide				{position: relative; width: 100%;}
#photoGallery .swiper-btns				{position: absolute; top: -104px; right: 0; width: 84px;
	display: -ms-flexbox; display: -webkit-flex; display: flex;
	-webkit-flex-direction: row-reverse; -ms-flex-direction: row-reverse; flex-direction: row-reverse;
	-webkit-justify-content: space-between; -ms-flex-pack: justify; justify-content: space-between;
}
#photoGallery .swiper-btns .swiper-button-next,
#photoGallery .swiper-btns .swiper-button-prev{position: static; margin: 0;}
#photoGallery .item .title				{font-size: 28px; font-weight: bold; color: var(--neutral-n-900);}
@media all and (max-width: 960px){
	#photoGallery							{padding-top: 68px;}
	#photoGallery .swiper-btns 				{top: 0}
	#photoGallery .item .title				{font-size: 18px;}
}

/* SC01 */
#content.sc01 .bg01						{background-image: url('../images/sc/sc01_001.jpg');}
@media screen and (orientation: portrait){
	#content.sc01 .bg01						{background-image: url('../images/sc/sc01_001_mo.jpg');}
}
#content.sc01 .esg-strategy .section-title	{margin-bottom: 40px;}
@media all and (max-width: 960px){
	#content.sc01 .esg-strategy .section-title	{margin-bottom: 24px;}
}
#content.sc01 .bg02						{background-image: url('../images/sc/sc01_002.jpg'); color: #fff; text-align: center;
	display: -ms-flexbox; display: -webkit-flex; display: flex;
	-webkit-justify-content: center; -ms-flex-pack: center; justify-content: center;
	-webkit-align-items: center; -ms-flex-align: center; align-items: center;
}
#content.sc01 .our-esg .page-title			{color: inherit;}
#content.sc01 .our-esg p					{font-size: 28px;}
@media screen and (orientation: portrait){
	#content.sc01 .bg02						{background-image: url('../images/sc/sc01_002_mo.jpg');}
	#content.sc01 .our-esg p					{font-size: 24px;}
}
#content.sc01 .esg-org						{overflow: hidden;}
#content.sc01 .esg-org .tree				{padding: 0 40px 80px;}
#content.sc01 .esg-org .tree li,
#content.sc01 .esg-org .tree ul				{position: relative;}
#content.sc01 .esg-org .tree ul.side		{position: absolute;}
#content.sc01 .esg-org .tree .duty			{border: solid 1px var(--neutral-n-300)}
#content.sc01 .esg-org .tree .duty,
#content.sc01 .esg-org .tree ul:not(.side) li	{
	display: -ms-flexbox; display: -webkit-flex; display: flex;
	-webkit-justify-content: center; -ms-flex-pack: center; justify-content: center;
	-webkit-align-items: center; -ms-flex-align: center; align-items: center;
}
#content.sc01 .esg-org .tree .duty	{
	-webkit-flex-direction: column; -ms-flex-direction: column; flex-direction: column;
	-webkit-justify-content: center; -ms-flex-pack: center; justify-content: center;
	-webkit-align-items: center; -ms-flex-align: center; align-items: center;
}
#content.sc01 .esg-org .tree ul .duty		{background-color: var(--neutral-n-75);}
#content.sc01 .esg-org .tree .duty strong	{font-size: 28px; font-weight: bold; color: var(--neutral-n-900);}
#content.sc01 .esg-org .tree li:before,
#content.sc01 .esg-org .tree ul:before		{position: absolute; content:''; display: block;}
@media all and (min-width: 961px){
	#content.sc01 .esg-org .tree > li + li,
	#content.sc01 .esg-org .tree ul:not(.side)	{margin-top: 79px;}
	#content.sc01 .esg-org .tree ul:not(.side) li {padding: 0 10px 20px;}
	#content.sc01 .esg-org .tree ul.side	{left: calc(50% + 172px); bottom: -100px;width: 302px;}
	#content.sc01 .esg-org .tree .duty		{margin: 0 auto; width: 302px; height: 122px;}
	#content.sc01 .esg-org .tree > li + li:before,
	#content.sc01 .esg-org .tree ul:not(.side):before,
	#content.sc01 .esg-org .tree ul.side:before	{background: var(--neutral-n-300);}
	#content.sc01 .esg-org .tree > li + li:before,
	#content.sc01 .esg-org .tree ul:not(.side):before	{left: 50%; width: 1px;}
	#content.sc01 .esg-org .tree ul.side:before			{top: 50%; height: 1px;}
	#content.sc01 .esg-org .tree > li + li:before,
	#content.sc01 .esg-org .tree ul:not(.side):before	{top: -79px; height: 79px;}
	#content.sc01 .esg-org .tree ul.side:before		{left: -171px; width: 171px;}
	#content.sc01 .esg-org .tree ul:not(.side)		{
		display: -ms-flexbox; display: -webkit-flex; display: flex;
		-webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap;
		-webkit-justify-content: center; -ms-flex-pack: center; justify-content: center;
	}
	#content.sc01 .esg-org .tree ul:not(.side) li	{width: calc(100% / 5);}
}
@media all and (min-width: 961px) and (max-width: 1210px){
	#content.sc01 .esg-org .tree .duty,
	#content.sc01 .esg-org .tree ul.side			{width: 15.729vw;}
	#content.sc01 .esg-org .tree ul:not(.side) li	{width: calc(100% / 3);}
}
@media all and (max-width: 960px){
	#content.sc01 .our-esg .section-title		{margin-bottom: 64px;}
	#content.sc01 .esg-org .tree				{padding: 0 32px 64px;}
	#content.sc01 .esg-org .tree > li 			{width: 42.667vw;}
	#content.sc01 .esg-org .tree > li + li		{margin-top: 140px;}
	#content.sc01 .esg-org .tree ul.side	{left: 31.733vw; top: 104px;}
	#content.sc01 .esg-org .tree ul:not(.side)	{width: 100%; margin-left: calc(50% + 10.133vw); padding-top: 16px;}
	#content.sc01 .esg-org .tree ul:not(.side) li + li {margin-top: 12px;}
	#content.sc01 .esg-org .tree .duty			{width: 42.667vw; height: 80px;}
	#content.sc01 .esg-org .tree .side .duty	{height: 100px;}
	#content.sc01 .esg-org .tree .duty strong	{font-size: 24px;}
	#content.sc01 .esg-org .tree > li + li:before,
	#content.sc01 .esg-org .tree ul li:before,
	#content.sc01 .esg-org .tree ul:not(.side):before	{background: var(--neutral-n-300);}
	#content.sc01 .esg-org .tree > li + li:before,
	#content.sc01 .esg-org .tree ul:not(.side):before	{left: 50%; width: 1px;}
	#content.sc01 .esg-org .tree ul li:before			{top: 50%; height: 1px;}
	#content.sc01 .esg-org .tree > li + li:before		{top: -140px; height: 140px; }
	#content.sc01 .esg-org .tree ul:not(.side):before	{top: 0; left: -10.133vw; height: calc(100% - 40px); }
	#content.sc01 .esg-org .tree ul li:before		{left: -10.133vw; width: 10.133vw;}
}
#content.sc01 .big-box .img-wrap		{position: relative; width: 100%;}
#content.sc01 .big-box .img-wrap img		{width: 100%; height: 100%; object-fit: cover; object-position: center center; min-width: 100%; min-height: 100%;
}
@media all and (min-width: 961px){
	#content.sc01 .section-box.esg-clause		{position: relative; padding: 0; height: var(--vh100);}
	#content.sc01 .section-box.esg-clause .section-title{position: absolute; top: calc(var(--header) + 120px); left: 80px;}
	#content.sc01 .box-list 					{position: absolute; top: 0; left: 0; width: 100%; height: 100%;}
	#content.sc01 .big-box						{
		-webkit-align-items: flex-end; -ms-flex-align: end; align-items: flex-end;
	}
	#content.sc01 .big-box > div				{position:absolute;}
	#content.sc01 .big-box > div:not(.text-wrap) {display: -ms-flexbox; display: -webkit-flex; display: flex; 
		-webkit-align-items: center; -ms-flex-align: center; align-items: center;
		top: calc(var(--header)); right: 0;
	}
	#content.sc01 .big-box > div + div 			{margin-left: 0;}
	#content.sc01 .big-box > .text-wrap			{
		-webkit-order: -1; -ms-flex-order: -1; order: -1;
		bottom: 40px; left: 0; padding-left: 80px;
	}
	#content.sc01 .big-box .img-wrap		{position: relative; width: 100%; height: calc(var(--vh100) - var(--header) - 40px);
	}
}
@media all and (max-width: 960px){
	#content.sc01 .section-box.esg-clause		{padding: 24px 0;}
	#content.sc01 .big-box .img-wrap 			{height: 101.600vw;}
	#content.sc01 .big-box > div + div			{margin-top: 24px;}
}

/* terms */
#content.terms 								{overflow-x: hidden;}
#content.terms .tab-content					{padding: 80px 0;}
@media all and (min-width: 961px){
	#content.terms .tabs a 						{font-size: 24px;}
}
@media all and (max-width: 960px){
	#content.terms .tab-content					{padding: 40px 0;}
}

/* main */
#content.main .bg01						{position: relative; background-image: url('../images/main/main_bg01.jpg');}
#content.main .bg01 .text-wrap			{position: absolute; bottom: 12%; left: 59.6%; padding-right: 8%;}
#content.main .bg01,
#content.main .bg01 .page-title			{color: #fff;}
#content.main .bg01 .btn				{font-size: 28px; font-weight: bold;}
#content.main .bg01 .btn .ico.blank		{
	-webkit-filter: invert(100%); filter: invert(100%);
}
@media all and (min-width: 961px) and (max-width: 1840px){
	#content.main .bg01 .page-title			{font-size: 4.167vw;}
}
@media all and (max-width: 960px){
	#content.main .bg01 .text-wrap			{bottom: 0; left: 0; padding: 64px 32px;}
}
#content.main .section-box:not(.text-wrap)	{padding-left: 0; padding-right: 0}
#content.main .main-esg .title				{font-size: 72px; font-weight: bold; line-height: 1.2; color: var(--neutral-n-900);}
#content.main .main-esg .big-box .img-wrap img		{width: 100%; height: 100%; object-fit: cover; object-position: center center; min-width: 100%; min-height: 100%;}
@media all and (min-width: 961px){
	#content.main .main-esg {width: 100%;}
	#content.main .main-esg .box-list {position: relative; height: calc(var(--vh100));}
	/* #content.main .main-esg .box-list li + li	{margin-top: 40px;} */
	#content.main .main-esg .big-box			{
		-webkit-align-items: center; -ms-flex-align: center; align-items: center;
	}
	#content.main .main-esg p					{font-size: 24px; line-height: 1.33;}
	#content.main .main-esg .big-box > div				{position: absolute;}
	#content.main .main-esg .big-box > div:not(.text-wrap) {display: -ms-flexbox; display: -webkit-flex; display: flex; 
		-webkit-align-items: center; -ms-flex-align: center; align-items: center;
		top: calc(var(--header)); left: 0;
	}
	#content.main .main-esg .big-box > .text-wrap			{top: 50%; right: 0; padding-left: 80px; 
		-webkit-transform: translate(0,-50%);
		transform: translate(0,-50%);
	}
	#content.main .main-esg .big-box .img-wrap		{position: relative; width: 100%; height: calc(var(--vh100) - var(--header) - 40px);
	}
}
@media all and (max-width: 960px){
	#content.main .main-esg .title				{font-size: 48px;}
	#content.main .main-esg .img-wrap			{height: 101.333vw;}
}
#content.main .growth .data-list			{text-align: center;}
#content.main .growth .bg-g-98				{padding: 120px 30px;}
#content.main .growth .data-list p			{margin-top: 202px; font-size: 48px; font-weight: bold; line-height: 1.2; color: var(--neutral-n-900);}
@media all and (min-width: 961px){
	#content.main .growth .data-list			{
		display: -ms-flexbox; display: -webkit-flex; display: flex;
	}
	#content.main .growth .data-list li + li	{margin-top: 0; margin-left: 20px;}
	#content.main .growth .data-list li		{width: calc((100% - 40px)/3);}
}
@media all and (max-width: 960px){
	#content.main .growth .bg-g-98				{padding: 64px 15px;}
	#content.main .growth .data-list p			{margin-top: 100px; font-size: 32px;}
}
/* #content.main .groups .group				{position: relative;} */
#content.main .groups {margin-top: 40px;}
#content.main .groups.on {background-color: transparent;}
#content.main .group .text-wrap				{position: absolute; top: 0; left: 0; color: var(--neutral-n-50); transition: color 0.5s;}
#content.main .group .text-wrap ,
#content.main .group {width: 100%; height: calc(var(--vh100) - var(--header) - 40px);}
#content.main .group .bg {transition: all 0.5s;}
#content.main .group.no1 .bg				{background-image: url('../images/main/main_no01.jpg');}
#content.main .group.no2 .bg				{background-image: url('../images/main/main_no02.jpg');}
#content.main .group.no3 .bg				{background-image: url('../images/main/main_no03.jpg');}
#content.main .group .num,
#content.main .group .title					{line-height: 1.2; font-weight: bold;}
#content.main .group .num					{font-size: 160px;}
#content.main .group .title					{font-size: 64px;}
#content.main .group .text 					{position: absolute; bottom: 120px; left: 41.03%; font-size: 24px;}
#content.main .groups {position: relative; height: 100vh;}
#content.main .group {position: absolute; top: 0; left: 0;}
@media all and (min-width: 961px){
	#content.main .group .text 					{line-height: 1.33;}
	
}
@media all and (max-width: 960px){
	#content.main .group .text-wrap				{padding-left: 32px;}
	#content.main .group .num					{font-size: 64px;}
	#content.main .group .title					{font-size: 42px;}
	#content.main .group .text 					{bottom: 64px; left: 21.86%; font-size: 20px;}
}
#content.main .together .data-list .img-wrap{}
@media all and (min-width: 961px){
	#content.main .together .big-title.title-flex			{
		display: -ms-flexbox;  display: -webkit-flex; display: flex;
		-webkit-justify-content: space-between; -ms-flex-pack: justify; justify-content: space-between;
		-webkit-align-items: flex-end; -ms-flex-align: end; align-items: flex-end;
	}
	#content.main .together .big-title .more	{font-size: 20px;}
	#content.main .together .data-list			{
		display: -ms-flexbox; display: -webkit-flex; display: flex;
	}
	#content.main .together .data-list li + li	{margin-top: 0; margin-left: 20px;}
	#content.main .together .data-list li		{width: calc((100% - 40px)/3);}
}
@media all and (max-width: 960px){
	#content.main .together .big-title.title-flex > span	{display: block;}
	#content.main .together .big-title .more	{font-size: 18px;}
}
#content.main .together ,
#content.main .recent {position: relative;}

/* margin */
.board-header + .data-list		{margin-top: 80px;}
.hgroup.bg-g-98 + .bg,
#content.sc02 .disc-list,
#content.sc01 .esg-strategy .sub-title + p,
#content.sc01 .our-esg .page-title + p,
.hgroup.bg-g-98 + .bg.section-box.bg-g-98,
.big-title + p,
.recent .section-title + .data-list,
#content.main .bg01 .btn,
#content.main .big-title + .data-list,
#content.main .main-esg .title + p,
#content.main .group .title,
#photoGallery .item .title					{margin-top: 40px;}
@media all and (max-width: 960px){
	.board-header + .data-list		{margin-top: 40px;}
	#content.sc02 .disc-list,
	#content.sc01 .esg-strategy .sub-title + p,
	#content.sc01 .our-esg .page-title + p,
	.hgroup.bg-g-98 + .bg.section-box.bg-g-98,
	.big-title + p,
	.recent .section-title + .data-list,
	#content.main .bg01 .btn,
	#content.main .big-title + .data-list,
	#content.main .main-esg .title + p,
	#content.main .group .title,
	#photoGallery .item .title				{margin-top: 24px;}
}

/* transition */
#content.main .bg01 .text-wrap,
#content.sc02 .flower.bg02 .text-wrap	{
	-webkit-transition: all 0.5s cubic-bezier(0.7, 0.24, 0.17, 0.68);
	-o-transition: all 0.5s cubic-bezier(0.7, 0.24, 0.17, 0.68);
	transition: all 0.5s cubic-bezier(0.7, 0.24, 0.17, 0.68);
}
